<div class="badge badge_{{action.type}}">
    {{action.type}}
</div>
<div class="actionDesc">
    {{action.description | markdown}}
</div>
<div class="desc">

    {% set params = action.queryParameters %}
    {% if params is not empty %}
    <h4>Query parameters</h4>
    {% include "namedParams.html" %}
    {% endif %}

    {% set params = action.headers %}
    {% if params is not empty %}
    <h4>Headers</h4>
    {% include "namedParams.html" %}
    {% endif %}

    {% if action.body is not empty %}
    <h4>Body</h4>

    <div class="desc">

        {% for bodyEntry in action.body %}
        {% set body = bodyEntry.value %}

        <h5>{{bodyEntry.key}}</h5>

        <p>{{body.schema}}</p>
        {% if body.example is not empty %}Example: {{body.example}}{% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>
