<html>
<head>
    <link href="style.css" rel="stylesheet">
</head>
<body>

<header>
    <h1>{{raml.title}}</h1>

    <p>Version {{raml.version}}</p>

    <p>{{str.baseUri}}</p>
</header>

<div class="content">
    {% for doc in raml.documentation %}
    <h2>{{doc.title}}</h2>
    {{doc.content | markdown}}
    {% endfor %}

    <div class="desc">
        <ul>
            {% for res in util.allResources %}
            {% set resource = res.value %}
            <li>
                <h3>{{res.key}} ({{resource.displayName}})</h3>

                <div class="desc">
                    {{resource.description | markdown}}

                    {% set params = resource.resolvedUriParameters %}
                    {% if params is not empty %}
                    <h4>URI parameters</h4>
                    {% include "namedParams.html" %}
                    {% endif %}

                    {% for actionEntry in resource.actions %}
                    {% set action = actionEntry.value %}
                    {% include "action.html" %}
                    {% endfor %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

</body>
</html>
