* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 2em;
    margin-bottom: 1em;
}

.resources {
    width: 14em;
    float: left;
    padding-left: 1em;
}

.resources li{
    line-height: 150%;
}

.content {
    margin-left: 15em;
    padding-right: 1em;
}

.desc {
    margin-left: 2em;
}

.paramsTitle {
    margin-top: 1em;
    font-weight: bold;
}

.actionHeader{
    margin-top: 1em;
}

.bodyTitle{
    margin-top: 1em;
    font-weight: bold;
}

.mimeTitle{
    margin-top: 1em;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

table.params {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

thead tr {
    background-color: #888;
    color: #fff;
}

th {
    padding: .2em;
    border: 1px solid white;
    text-align: center;
}

table.params td {
    padding: .2em;
    border: 1px solid gray;
    margin: 0;
}

td.center {
    text-align: center;
}

.actionDesc {
    margin-left: 6em;
}

.badge {
    float: left;
    background-color: #999;
    border-radius: 0;
    color: #f3f3f6;
    text-align: center;
    text-transform: uppercase;
    width: 4em;
    padding: .3em;
}

.badge_GET {
    background-color: #63a8e2;
}

.badge_POST {
    background-color: #6cbd7d;
}

.badge_PUT {
    background-color: #22bac4;
}

.badge_PATCH {
    background-color: #02b0e2;
}

.badge_DELETE {
    background-color: #d26460;
}

.badge_CONNECT {
    background-color: #e48f0a;
}

.badge_TRACE {
    background-color: #98b805;
}

.code{
    max-height: 25em;
    overflow: auto;
    background-color: #ccc;
}
