* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 2em;
    margin-bottom: 1em;
}

header a, header a:visited, header a:active, header a:hover {
    color: #fff;
}

a, a:visited, a:active, a:hover {
    color: #888;
}

.resources {
    width: 12em;
    float: left;
    padding-left: 1em;
    overflow: auto;
}

.resources li {
    list-style-type: none;
    line-height: 150%;
}

.resources ul {
    padding-left: 1em;
}

.content {
    margin-left: 13em;
    padding-right: 1em;
}

.desc {
    margin: 1em;
}

.title {
    margin-top: 1em;
    font-weight: bold;
}

.mainTitle {
    font-size: 125%;
}

.actionHeader {
    margin-top: 1em;
    min-height: 1.8em;
    cursor: pointer;
    padding: .5em;
}

.paramBool {
    width: 2em;
}

.paramType {
    width: 5em;
}

ul {
    padding-left: 2em;
}

table.params {
    font-size: 85%;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.actionDetail {
    padding: .5em;
}

.securityDetail {
    padding: .5em;
    background-color: #ffe5ff;
}

th {
    padding: .2em;
    border-bottom: 1px solid black;
    text-align: left;
}

table.params input {
    width: 100%;
    box-sizing: border-box;
}

table.params textarea {
    width: 100%;
    box-sizing: border-box;
    min-height: 10em;
}

table.params {
    table-layout: fixed;
}

table.params td {
    overflow: auto;
    padding: .2em;
    margin: 0;
    border-bottom: 1px solid #ccc;
}

td.center {
    text-align: center;
}

.actionDesc {
    margin-left: 6em;
}

.badge {
    float: left;
    background-color: #999;
    border-radius: 0;
    color: #f3f3f6;
    text-align: center;
    text-transform: uppercase;
    width: 4em;
    padding: .3em;
}

.badge_GET {
    background-color: #0f6ab4;
}

.border_GET {
    border: 1px solid #c3d9ec;
}

.bg_GET {
    background-color: #e7f0f7;
}

.badge_POST {
    background-color: #10a54a;
}

.border_POST {
    border: 1px solid #c3e8d1;
}

.bg_POST {
    background-color: #e7f6ec;
}

.badge_PUT {
    background-color: #c5862b;
}

.border_PUT {
    border: 1px solid #f0e0ca;
}

.bg_PUT {
    background-color: #faf5ee;
}

.badge_DELETE {
    background-color: #a41e22;
}

.border_DELETE {
    border: 1px solid #e8c6c7;
}

.bg_DELETE {
    background-color: #f5e8e8;
}

.badge_PATCH {
    background-color: #02b0e2;
}

.badge_CONNECT {
    background-color: #e48f0a;
}

.badge_TRACE {
    background-color: #98b805;
}

.code {
    max-height: 25em;
    overflow: auto;
    background-color: #fff;
}

code {
    white-space: pre;
}

.tryData {
    width: 100%;
    min-height: 1em;
    max-height: 25em;
    overflow: auto;
    background-color: #fff;
    font-family: inherit;
    margin-bottom: .8em;
}

button {
    padding: .7em;
    border-radius: .6em;
    border-style: outset;
    cursor: pointer;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.invisible {
    display: none;
}

.active:hover, .inactive:hover {
    text-decoration: underline;
}

.active, .inactive, .example, .foldable {
    cursor: pointer;
}

.active {
    font-weight: bolder;
    color: #000 !important;
}

select.contentType {
    width: 100%;
}

.response {
    margin-top: 1em;
}

.link {
    color: blue;
}

.subLink {
    margin-left: 1em;
}

.subLink span, .subLink a {
    float: left;
}

.foldable {
    display: inline-block;
    font-size: 80%;
    color: #888;
    margin-left: -1em;
}

.collapsed {
    transform: rotate(-90deg);
}